<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	<head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if businesses %}
                    {% for business in businesses %}
                        <h2>Name:{{ business.name }}</h2>
                        <h3>Rating:{{ business.location }}</h3>
                        <h3>Phone:{{ business.phone }}</h3>
                        
                    {% endfor %}
                {% else %}
                    <h1>Let's find you some food!</h1>
                    <form action="/" class ="form-inline">
                        <div class="form-group">
                            <input type = "text" name="location" 
                            placeholder="What city?"
                            class="form-control">
                        <form action="/" class ="form-inline">
                        <div class="form-group">
                            <input type = "text" name="term" 
                            placeholder="What food?"
                            class="form-control"> 
                        <input type = "Submit" value="Submit"" class="btn 
                        btn-primary">
                     
                    </form>
                {% endif %}
                <a href="{{ url_for('about') }}">About This Project</a>
            </div>
        </div>
    </body>
</html>